<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Forms / Layouts - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/admin/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
   <link href="/assets/admin/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/admin/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/assets/admin/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/assets/admin/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/admin/vendor/simple-datatables/style.css" rel="stylesheet"> -->

  <!-- Template Main CSS File -->
  <!-- <link href="assets/css/style.css" rel="stylesheet"> -->

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.2.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
  
      <div class="d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
          <img src="/assets/guest/img/logo copy.png" alt="" width="95%">
          
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
      </div><!-- End Logo -->
  
      <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
          <input type="text" name="query" placeholder="Search" title="Enter search keyword">
          <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
      </div><!-- End Search Bar -->
  
      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
  
          <li class="nav-item d-block d-lg-none">
            <a class="nav-link nav-icon search-bar-toggle " href="#">
              <i class="bi bi-search"></i>
            </a>
          </li><!-- End Search Icon-->
  
          <li class="nav-item dropdown">
  
            <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
              <i class="bi bi-bell"></i>
              <span class="badge bg-primary badge-number">4</span>
            </a><!-- End Notification Icon -->
  
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
              <li class="dropdown-header">
                You have 4 new notifications
                <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
  
              <li class="notification-item">
                <i class="bi bi-exclamation-circle text-warning"></i>
                <div>
                  <h4>Lorem Ipsum</h4>
                  <p>Quae dolorem earum veritatis oditseno</p>
                  <p>30 min. ago</p>
                </div>
              </li>
  
              <li>
                <hr class="dropdown-divider">
              </li>
  
              <li class="notification-item">
                <i class="bi bi-x-circle text-danger"></i>
                <div>
                  <h4>Atque rerum nesciunt</h4>
                  <p>Quae dolorem earum veritatis oditseno</p>
                  <p>1 hr. ago</p>
                </div>
              </li>
  
              <li>
                <hr class="dropdown-divider">
              </li>
  
              <li class="notification-item">
                <i class="bi bi-check-circle text-success"></i>
                <div>
                  <h4>Sit rerum fuga</h4>
                  <p>Quae dolorem earum veritatis oditseno</p>
                  <p>2 hrs. ago</p>
                </div>
              </li>
  
              <li>
                <hr class="dropdown-divider">
              </li>
  
              <li class="notification-item">
                <i class="bi bi-info-circle text-primary"></i>
                <div>
                  <h4>Dicta reprehenderit</h4>
                  <p>Quae dolorem earum veritatis oditseno</p>
                  <p>4 hrs. ago</p>
                </div>
              </li>
  
              <li>
                <hr class="dropdown-divider">
              </li>
              <li class="dropdown-footer">
                <a href="#">Show all notifications</a>
              </li>
  
            </ul><!-- End Notification Dropdown Items -->
  
          </li><!-- End Notification Nav -->
  
          <li class="nav-item dropdown">
  
            <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
              <i class="bi bi-chat-left-text"></i>
              <span class="badge bg-success badge-number">3</span>
            </a><!-- End Messages Icon -->
  
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
              <li class="dropdown-header">
                You have 3 new messages
                <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
  
              <li class="message-item">
                <a href="#">
                  <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
                  <div>
                    <h4>Maria Hudson</h4>
                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                    <p>4 hrs. ago</p>
                  </div>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
  
              <li class="message-item">
                <a href="#">
                  <img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">
                  <div>
                    <h4>Anna Nelson</h4>
                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                    <p>6 hrs. ago</p>
                  </div>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
  
              <li class="message-item">
                <a href="#">
                  <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
                  <div>
                    <h4>David Muldon</h4>
                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                    <p>8 hrs. ago</p>
                  </div>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
  
              <li class="dropdown-footer">
                <a href="#">Show all messages</a>
              </li>
  
            </ul><!-- End Messages Dropdown Items -->
  
          </li><!-- End Messages Nav -->
  
          <li class="nav-item dropdown pe-3">

            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
              <img src="/assets/admin/img/admin.png" alt="Profile" class="rounded-circle">
              <span class="d-none d-md-block dropdown-toggle ps-2">Admin</span>
            </a><!-- End Profile Iamge Icon -->
  
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
              <li class="dropdown-header">
                <h6> Admin</h6>
                <!-- <span>Web Designer</span> -->
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
  
              <li>
                <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                  <i class="bi bi-person"></i>
                  <span>My Profile</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
  
              <li>
                <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                  <i class="bi bi-gear"></i>
                  <span>Account Settings</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
  
              <!-- <li>
                <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                  <i class="bi bi-question-circle"></i>
                  <span>Need Help?</span>
                </a>
              </li> -->
              <li>
                <hr class="dropdown-divider">
              </li>
  
              <li>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <i class="bi bi-box-arrow-right"></i>
                  <span>Sign Out</span>
                </a>
              </li>
  
            </ul><!-- End Profile Dropdown Items -->
          </li><!-- End Profile Nav -->
  
        </ul>
      </nav><!-- End Icons Navigation -->
  
    </header><!-- End Header -->
  
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
  
      <ul class="sidebar-nav" id="sidebar-nav">
  
        <li class="nav-item">
          <a class="nav-link collapsed" [routerLink]="['/adminmaster/adminhome']">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
          </a>
        </li><!-- End Dashboard Nav -->
  
      
  
        <li class="nav-item">
          <a class="nav-link " data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-journal-text"></i><span>Registration</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="forms-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
            <li>
              <a [routerLink]="['/districreg']">
                <i class="bi bi-circle"></i><span>District Registration</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/zonereg']" >
                <i class="bi bi-circle"></i><span>Zone registration</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/dipotreg']" class="active">
                <i class="bi bi-circle"></i><span>Dipot Registration</span>
              </a>
            </li>
           
          </ul>
        </li><!-- End Forms Nav -->
  
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-layout-text-window-reverse"></i><span>List</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a [routerLink]="['/viewdistrict']">
                <i class="bi bi-circle"></i><span>District</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/viewzone']">
                <i class="bi bi-circle"></i><span>Zone</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/viewdepo']">
                <i class="bi bi-circle"></i><span>Depot details</span>
              </a>
            </li>
          </ul>
        </li><!-- End Tables Nav -->
  
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-bar-chart"></i><span>Charts</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a href="charts-chartjs.html">
                <i class="bi bi-circle"></i><span>Chart.js</span>
              </a>
            </li>
            <li>
              <a href="charts-apexcharts.html">
                <i class="bi bi-circle"></i><span>ApexCharts</span>
              </a>
            </li>
            <li>
              <a href="charts-echarts.html">
                <i class="bi bi-circle"></i><span>ECharts</span>
              </a>
            </li>
          </ul>
        </li><!-- End Charts Nav -->
  
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-gem"></i><span>Icons</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a href="icons-bootstrap.html">
                <i class="bi bi-circle"></i><span>Bootstrap Icons</span>
              </a>
            </li>
            <li>
              <a href="icons-remix.html">
                <i class="bi bi-circle"></i><span>Remix Icons</span>
              </a>
            </li>
            <li>
              <a href="icons-boxicons.html">
                <i class="bi bi-circle"></i><span>Boxicons</span>
              </a>
            </li>
          </ul>
        </li><!-- End Icons Nav -->
  
        <li class="nav-heading">Settings & privacy</li>
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="users-profile.html">
            <i class="bi bi-person"></i>
            <span>Profile</span>
          </a>
        </li><!-- End Profile Page Nav -->
  
       
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="pages-login.html">
            <i class="bi bi-box-arrow-in-right"></i>
            <span>Login</span>
          </a>
        </li><!-- End Login Page Nav -->
  
       
  
      </ul>
  
    </aside><!-- End Sidebar-->
  
    <main id="main" class="main">
  
      <div class="pagetitle">
        <h1>Depot registration</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Registration</li>
            <li class="breadcrumb-item active">Dipot Registration</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->
      <section class="section" >
      
          <div class="col-lg-" >
  
            <div class="card" style=" margin-right: 264px; margin-left: 145px;">
              <div class="card-body">
                <h5 class="card-title"></h5>
                
                <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
                  <strong>Success ! </strong>  New <strong>Depot</strong> added successfully.
                  <button type="button" class="btn-close" data-dismiss="alert">&times;</button>
                </div>
  
               
                <form [formGroup]="dipotform">
                  <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"> Dipot location</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputText" formControlName="location">
                      <!-- <label *ngIf="dipotform.controls['location'].errors['required'] && savestatus" class="text-danger">*Enter location</label>  -->
                      <div *ngIf="(savestatus || f['location'].touched) && f['location'].invalid ">
                      <div  *ngIf="f['location'].errors && f['location'].errors['required']" class="text-danger"> * Enter location </div>
                    </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Manager Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputText" formControlName="manager_name">
                      <!-- <label *ngIf="dipotform.controls['manager_name'].errors['required'] && savestatus" class="text-danger">* Enter manager name</label>  -->
                      <div *ngIf="(savestatus || f['manager_name'].touched) && f['manager_name'].invalid ">
                        <div  *ngIf="f['manager_name'].errors && f['manager_name'].errors['required']" class="text-danger"> * Enter manager name </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="row mb-3">
                    <label for="inputNumber" class="col-sm-2 col-form-label">Profile Image</label>
                    <div class="col-sm-10">
                      <input class="form-control" type="file" id="formFile">
                    </div>
                  </div> -->

                  <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Zone</label>
                    <div class="col-sm-10">
                      <select class="form-select" aria-label="Default select example" formControlName="zone">
                      
                        
                        <option *ngFor="let zone of zoneList " value="{{zone.zone}}">
                          {{zone.zone}}
                        </option>
                       
                      </select>
                      <!-- <label *ngIf="dipotform.controls['zone'].errors['required'] && savestatus" class="text-danger">*Select zone</label>  -->
                      <div *ngIf="(savestatus || f['zone'].touched) && f['zone'].invalid ">
                        <div  *ngIf="f['zone'].errors && f['zone'].errors['required']" class="text-danger">  * Select zone</div>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">District</label>
                    <div class="col-sm-10">
                      <select class="form-select" aria-label="Default select example" formControlName="district">
                        
                        <option *ngFor="let district of DistrictList " value="{{district.district}}">
                          {{district.district}}
                        </option>
                       
                      </select>
                      <!-- <label *ngIf="dipotform.controls['district'].errors['required'] && savestatus" class="text-danger">*Select district</label>  -->
                      <div *ngIf="(savestatus || f['district'].touched) && f['district'].invalid ">
                        <div  *ngIf="f['district'].errors && f['district'].errors['required']" class="text-danger"> * Select district</div>
                      </div>
                    </div>
                  </div>
                 
                  
                  <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">e-mail </label>
                    <div class="col-sm-10">
                      <div class="input-group mb-3">
                        <input type="text" class="form-control"  aria-label="Recipient's username" aria-describedby="basic-addon2"  formControlName="email">
                      </div>
                      <div *ngIf="(savestatus || f['email'].touched) && f['email'].invalid ">
                        <div  *ngIf="f['email'].errors && f['email'].errors['required']" class="text-danger"> * Enter email </div>
                        <div  *ngIf="f['email'].errors && f['email'].errors['email']" class="text-danger"> * Enter  a valid email </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">User Name</label>
                    <!-- <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputEmail" formControlName="user_name">
                    </div> -->
                    <div class="col-sm-10">
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1">@</span>
                      <input type="text" class="form-control"aria-describedby="basic-addon1" formControlName="user_name" >
                     
                    </div>
                    <!-- <label *ngIf="dipotform.controls['user_name'].errors['required'] && savestatus" class="text-danger">*Enter username</label>  -->
                    <div *ngIf="(savestatus || f['user_name'].touched) && f['user_name'].invalid ">
                      <div  *ngIf="f['user_name'].errors && f['user_name'].errors['required']" class="text-danger"> * Enter username </div>
                    </div>
                  </div>
                  </div>
                 
                  <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">password</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputEmail" formControlName="password">
                      <!-- <label *ngIf="dipotform.controls['password'].errors['required'] && savestatus" class="text-danger">*Enter password</label>  -->
                      <div *ngIf="(savestatus || f['password'].touched) && f['password'].invalid ">
                        <div  *ngIf="f['password'].errors && f['password'].errors['required']" class="text-danger"> * Enter password </div>
                        <div  *ngIf="f['password'].errors && f['password'].errors['minlength']" class="text-danger"> * Enter password minimum 4 characters </div>
                        <div  *ngIf="f['password'].errors && f['password'].errors['maxlength']" class="text-danger"> * Enter password maximum 6 characters </div>

                      </div>
                    </div>
                   
                  </div>
                  
               
                  
                  <div class="text-right">
                    <button type="submit"  (click)="submit()" class="btn btn-primary" style="margin-right: 20px;" [disabled]="dipotform.invalid">Submit</button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                  </div>
                </form>
  
              </div>
            </div>
  
           
          </div>
  
          <div class="col-lg-6">
  
            
  
           
  
            
  
          </div>
      
      </section>
  
    </main><!-- End #main -->
  
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="copyright">
        &copy; Copyright <strong><span>IT Division, Transport Bhavan, KSRTC.</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
       
      </div>
    </footer><!-- End Footer -->
  
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
    <!-- Vendor JS Files -->
    <script src="/assets/admin/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="/assets/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/admin/vendor/chart.js/chart.min.js"></script>
    <script src="/assets/admin/vendor/echarts/echarts.min.js"></script>
    <script src="/assets/admin/vendor/quill/quill.min.js"></script>
    <script src="/assets/admin/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="/assets/admin/vendor/tinymce/tinymce.min.js"></script>
    <script src="/assets/admin/vendor/php-email-form/validate.js"></script>
  
    <!-- Template Main JS File -->
    <script src="/assets/admin/js/main.js"></script>
  
  </body>
  
  </html>