<div class="cardp">
	
				<div class="row no-gutters">
					<div class="colume-md-2" style="padding-left: 10px;">
						
						<div class="srt-arvl-tm">	
							<h2> <span class="StrtTm tooltipstered" id="bPtsDiv_Forward0">18:05</span><span class="srt-arvl-arrow"> → </span><span class="ArvTm tooltipstered" id="aPtsDiv_Forward0">06:30</span></h2>
														<h5>Duration: 0 days 12:25 hrs</h5>
							<div id="bTxtDv_Forward0" class="hideClasTxt"><div class="abPtsLiCs"><span class="abPtsHeader">Boarding Points</span><ul><li>18:05</li><li>ERNAKULAM</li></ul></div></div>
										
							<div id="aTxtDv_Forward0" class="hideClasTxt"><div class="abPtsLiCs"><span class="abPtsHeader"> Arrival Points</span><ul><li>05:56</li><li>BIDADI </li></ul><ul><li>06:03</li><li>IKON COLLEGE MYSORE RD</li></ul><ul><li>06:07</li><li>RAJARAJESWARI M.C HOSPT MSE RD</li></ul><ul><li>06:13</li><li>KENGERY OPP. POLICE STN</li></ul><ul><li>06:30</li><li>BANGALORE</li></ul><ul><li>06:30</li><li>SATELLITE BUS STN MSE RD PF 6 </li></ul></div></div>
						</div>
						<div class="service-no">
					
								<h3><a href="#" class="srvceNO" onclick="popUpWin('/oprs-web/track/services/details.do?id='+'1540875767687'+ '&amp;txtEffectiveDate='+ document.getElementById('txtJourneyDate').value)">1805EKMBNG</a> </h3>
						</div>							
					</div>					
					<div class="col-md-7">
						<div class="sour-desti-sec">
						<div class="sour-col">
						
						
						<h4>ERNAKULAM</h4>
						<h3>SUPER DELUX AIR BUS</h3>
						<font style="font-size: 14px; color: #ff5fec;font-weight: bold;">Ladies Quota Available</font>
						<input type="hidden" name="record" property="serviceOrigStartTime">
						</div>
           				
						<div class="desti-col">
							<h4>BANGALORE</h4>
							<div class="via-routes row">
								<p style="text-align: right;">
									<span>Depot Name : </span>ERNAKULAM</p>
								</div>	
						</div>
						<div class="via-routes">
						<h6><span>→</span></h6>
							<p><span>Via : </span>TSR KKD MNDY KUTTA</p>
							</div>
						
						</div>
					</div>
		
		<div class="col-md-1">
		
			<div class="seats-count">
					<h4>	
					29Seats
					</h4>
				</div>
		
					
			</div>
				
				</div>
			
			
        <div class="col5" style="display: none;">
			<span class="rupeeIco"> 

			<span class="TickRate" tickrate="894">
				894</span>
			</span>
				
		</div>
		<div class="col4" style="display: none;">
			<span class="availCs" availcs="29">
				29</span>				
		</div>
     </div>
	 
	